.slideshow {
	width:100%;
	max-width:1000px;
	margin:20px auto;

}
 
.slides {
	width:100%;
}
 
.slides img {
	width:100%;
}
 
.slidesjs-pagination {
	background:#67C0E9;
	list-style:none;
	overflow:hidden;
}
 
.slidesjs-pagination li {
	float:left;
}
 
.slidesjs-pagination li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
}
 
.slidesjs-pagination li a:hover {
	background:gray;
}
 
.slides .active {
	background:gray;
}
 
.slidesjs-navigation{
	background:gray;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:11.5px 20px;
	float:right;
}
#contenedor-slideshow
{
	display:block;
	margin-top: 10px
}